<!DOCTYPE html>
<html id="html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Overwatch Statistics</title>

    <!-- Include the main.css file -->
    <link id="maincss" rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <!-- Include the input-element.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/input-element.css" />
    <!-- Include the button.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/button.css" />
    <!-- Include the charts.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/charts.css" />

    <!-- Include the light-body-elements.css file -->
    <link id="body-element-style" rel="stylesheet" type="text/css" media="screen" href="../css/light-body-elements.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!-- Import Angular JS -->
    <script src="../javascript/angularjsmin.js"></script>

    <!-- include script for showing different tabs -->
    <script src="../javascript/overview.js"></script>

    
</head>

<body ng-app="overwatch-stats-app" ng-controller="TabController">

    <div class="spacer"></div>

    <header>
        <div class="content-container navbar-container">
            <ul class="header-ul">
                <li class="header-li"> <a class="active"  ng-click="showOverviewContainer()"  href="#" id="overview"  >Overview   </a>    </li>
                <li class="header-li"> <a class=""        ng-click="showSettingsContainer()"  href="#" id="settings"  >Settings   </a>    </li>
                <li class="header-li"> <a class=""        ng-click="showSeasons()"            href="#" id="season"    >Seasons   </a>    </li>
                <li class="header-li"> <a class=""        ng-click="showAddMatch()"           href="#" id="match"     >+ Match    </a>    </li>
                <li class="header-li"> <a class=""        ng-click="showAboutContainer()"              href="#" id="about"     >Donate! / About   </a>    </li>
            </ul>
        </div>
    </header>

    <!-- Content -->
    <div class="content-container" id="controllerBody" ng-controller="ContentController">

        <!-- Content Overview -->
        <div id="container-overview" ng-show="showOverview">

            <!-- DEBUG
            <div class="body-element">
                <h3>Debug</h3>
                <button ng-click="showDB()">Show DB</button>

            </div>-->

            <div class="body-element" id="sr-rating">
                <h3>SR-Rating</h3>
                <!-- chart for sr rating -->
                <div class="srrating-chart-container">
                    <canvas id="srrating-canvas"></canvas>
                </div>

            </div>

            <div class="body-element">
                <h3>Main Statistics</h3>
                

                <div class="winloss-chart-container content-float-right">
                    <canvas id="winloss-canvas"></canvas>
                </div>

                <div class="light-padding-right">
                        <div >
                            Games Played: <span class="float-right inline-block">{{gamesplayed}}</span>
                        </div>
                        <div >
                            Wins: <span class="float-right inline-block">{{wins}}</span>
                        </div>
                        <div >
                            Losses: <span class="float-right inline-block">{{losses}}</span>
                        </div>
                        <div >
                            Draws: <span class="float-right inline-block">{{draws}}</span>
                        </div>
                        <div >
                            Unkown Win/Loss:<span class="float-right inline-block">{{unknownWinLoss}}</span>
                        </div>
                        <div>
                            Avg. Delta: <span class="float-right inline-block">{{avgdelta}}</span>
                        </div>
                        
                        
                    </div>
                <!-- stats left, pie chart "win/loss" float right -->
            </div>

            <div class="body-element">
                <h3>Hero Breakdown</h3>
                <!-- arrow for opening or collapsing -->
                <div class="float-right">
                    <img class="icon light-padding-top" src="../../img/baseline-keyboard_arrow_down-24px.svg" id="img-heroBreakdown" ng-click="toggleShowHeroBreakdown()">
                </div>
                <div class="light-padding-top">
                    Toggle Hero Breakdown:
                </div>
                <!-- small spacer -->
                <div class="small-spacer">
                </div>

                <!-- show herobreakdown -->
                <div ng-show="showHeroBreakdown">
                    Click on the header of the table to sort the table differently.
                    <!-- header of the table -->
                    <div class="light-padding-top">
                        <span class="table-header-wide table-header-style-active" ng-click="setHeroBreakdownNameActive()" id="heroBreakdownName"><b>Name</b></span>
                        <span class="table-header-wide table-header-style" ng-click="setHeroBreakdownUsageActive()" id="heroBreakdownUsage"><b>Usage</b></span>
                        <span class="table-header-wide table-header-style" ng-click="setHeroBreakdownWinrateActive()" id="heroBreakdownWinrate"><b>Winrate</b></span>
                    </div>
    
                    <div ng-repeat="x in heroBreakdownArray | orderBy: heroBreakdownProperty : heroBreakdownReverse" id="herobreakdownID">
                            <div class="overview-content-container">
                                <span class="table-header-wide">{{x.name}}</span>
                                <span class="table-header-wide">{{x.usage *100}}%</span>
                                <span class="table-header-wide">{{x.winrate *100}}%</span>
                            </div>
                    </div>
                </div>
                

            </div>

            <div class="body-element">
                <h3>Map Breakdown</h3>
                <!-- arrow for opening or collapsing -->
                <div class="float-right">
                    <img class="icon light-padding-top" src="../../img/baseline-keyboard_arrow_down-24px.svg" id="img-mapBreakdown" ng-click="toggleShowMapBreakdown()">
                </div>
                <div class="light-padding-top">
                    Toggle Map Breakdown:
                </div>
                <!-- small spacer -->
                <div class="small-spacer">
                </div>

                <!-- show herobreakdown -->
                <div ng-show="showMapBreakdown">
                        Click on the header of the table to sort the table differently.
                        <!-- header of the table -->
                        <div class="light-padding-top">
                            <span class="table-header-wide table-header-style-active" ng-click="setMapBreakdownNameActive()" id="mapBreakdownName"><b>Name</b></span>
                            <span class="table-header-wide table-header-style" ng-click="setMapBreakdownUsageActive()" id="mapBreakdownUsage"><b>Usage</b></span>
                            <span class="table-header-wide table-header-style" ng-click="setMapBreakdownWinrateActive()" id="mapBreakdownWinrate"><b>Winrate</b></span>
                        </div>
        
                        <div ng-repeat="x in mapBreakdownArray | orderBy: mapBreakdownProperty : mapBreakdownReverse" id="mapbreakdownID">
                                <div class="overview-content-container">
                                    <span class="table-header-wide">{{x.name}}</span>
                                    <span class="table-header-wide">{{x.usage *100}}%</span>
                                    <span class="table-header-wide">{{x.winrate *100}}%</span>
                                </div>
                        </div>
                    </div>




            </div>

            <div class="body-element">
                <h3>Time of Day Breakdown</h3>
                Note that unknown Win/Loss will not influence this breakdown.
                <div class="srrating-chart-container">
                    <canvas id="timeOfDay-breakdown"></canvas>
                </div>
            </div>

            <div class="body-element">
                <h3>Groupsize Breakdown</h3>
                Note that unknown groupsizes will not influence this breakdown.
                <div class="srrating-chart-container">
                    <canvas id="groupsize-breakdown"></canvas>
                </div>
            </div>



            <!-- Season overview -->
            <div class ="body-element">
                <h3>Season Overview</h3>
                <!-- header of the table -->
                <div class="light-padding-top">
                    <span class="table-index"><b>ID</b></span>
                    <span class="table-header"><b>Skill Rating</b></span>
                    <span class="table-header"><b>Delta</b></span>
                    <span class="table-header"><b>Win/Loss</b></span>
                    <span class="table-header"><b>Date</b></span>
                    <span class="table-header"><b>Time</b></span>
                </div>


                <div ng-repeat="x in dbArray">
                    <div class="overview-container">
                        <div class="overview-content-container">
                            <span class="table-index">{{x._id-100}}</span>
                            <span class="table-header">{{x.sr}}</span>
                            <span class="table-header">{{x.delta}}</span>
                            <span class="table-header">{{x.matchEnd}}</span>
                            <span class="table-header">{{x.date}}</span>
                            <span class="table-header">{{x.time}}</span>

                            <img class="icon" src="../../img/baseline-delete-24px.svg" ng-click="toggleShowContentDelete($index)">
                        </div>

                        <div class="overview-delete-container" ng-show="showContentDelete[$index]">
                            <div class="float-right">
                                Delete this entry?
                            </div>
                            <br>
                            <div class="float-right">
                                <button class="red-button float-right margin-left" ng-click="removeItem($index)">
                                    Yes
                                </button>
                                <button class="blue-button float-right margin-left" ng-click="toggleShowContentDelete($index)">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <!-- ng repeat end -->
            </div>
            <!-- ~ Season overview end -->
        </div>



        <!-- Content Settings -->
        <div    id="container-settings" ng-show="showSettings" ng-controller="SettingsController">

                <div class="body-element">
                    <h3>General</h3>
                    <!-- spacer -->
                    <div class="small-spacer"></div>
                    
                    <!-- Custom checkbox / checkbox for maximize on start up-->
                    <label class="checkbox-container light" ng-click="toggleNightmode()">
                        Nightmode
                        <input type="checkbox" ng-model="nightmode">
                        <span class="checkmark"></span>
                    </label>
                    
                </div>  

                <!-- heroes section -->
                <div class="body-element">
                    <h3>Heroes</h3>
                    Use this section to add new heroes Blizzard has introduced to the game or to delete heroes from the list, which Blizzard chose to remove from the game.
                    <br>
                    <br>
                    <b>Introduce a new hero:</b> 
                    <br>
                    <input type="text" placeholder="Name of Hero" ng-model="newHero">
                    <br>
                    <div ng-show="showAddHeroError">
                        Error: Hero already exists.
                    </div>
                    <button class="blue-button light-margin-top" ng-click="addHero()">Add Hero</button>
                    <br>

                    <div class="float-right">
                        <img class="icon" src="../../img/baseline-keyboard_arrow_down-24px.svg" id="heroDropDown" ng-click="toggleHeroDropDown()">
                    </div>
                    Overview of all heroes:

                    <!-- header of the table -->
                <div class="light-padding-top" ng-show="showHeroDropDown">
                    <span class="table-header-wide">Name</span>
                    <span class="table-header-wide">Games Played</span>
                    <span class="table-header-wide">Wins</span>
                </div>
                    
                    <!-- ng repeat start -->
                    <div class="clear" ng-repeat="x in heroDBSettingsController | orderBy: 'name'"  ng-show="showHeroDropDown">
                        <div class="overview-container">
                            <div class="overview-content-container">
                                <span class="table-header-wide">{{x.name}}</span>
                                <span class="table-header-wide">{{x.gamesPlayed}}</span>
                                <span class="table-header-wide">{{x.wins}}</span>
    
                                <img class="icon" src="../../img/baseline-delete-24px.svg" ng-click="toggleShowContentDeleteHeroes($index)">
                            </div>
    
                            <!-- delete dialogue -->
                            <div class="overview-delete-container" ng-show="showContentDeleteHeroes[$index]">
                                <div class="float-right">
                                    Delete this hero?
                                </div>
                                <br>
                                <div class="float-right">
                                    <button class="red-button float-right margin-left" ng-click="removeHero($index, x)">
                                        Yes
                                    </button>
                                    <button class="blue-button float-right margin-left" ng-click="toggleShowContentDeleteHeroes($index)">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- ng repeat end -->
                </div>

                <!-- maps section -->
                <div class="body-element">
                    <h3>Maps</h3>
                    Use this section to add new maps Blizzard has introduced to the game or to delete maps from the list, which Blizzard chose to remove from the game.
                    <br>
                    <br>
                    <b>Add new Map:</b> 
                    <br>
                    <input type="text" placeholder="Name of Map" ng-model="newMap">
                    <br>
                    Mode: <br>
                    <input type="radio" name="mapMode" ng-model="mapMode" value="1"> Assault <br>
                    <input type="radio" name="mapMode" ng-model="mapMode" value="2"> Escort <br>
                    <input type="radio" name="mapMode" ng-model="mapMode" value="3"> Hybrid <br>
                    <input type="radio" name="mapMode" ng-model="mapMode" value="4"> Control <br>

                    <div ng-show="showAddMapError">
                        Error: Map already exists or missing data!
                    </div>

                    <button class="blue-button light-margin-top" ng-click="addMap()">Add Map</button>
                    <br>

                    <div class="float-right">
                        <img class="icon" src="../../img/baseline-keyboard_arrow_down-24px.svg" id="mapDropDown" ng-click="toggleMapDropDown()">
                    </div>
                    Overview of all maps:

                    <div class="light-padding-top" ng-show="showMapDropDown">
                            <span class="table-header-wide">Name</span>
                            <span class="table-header-wide">Games Played</span>
                            <span class="table-header-wide">Wins</span>
                    </div>
                    
                    <!-- ng repeat start -->
                    <div class="clear" ng-repeat="x in mapDBSettingsController | groupBy: 'type'"  ng-show="showMapDropDown">
                        <div class="overview-container">
                            <!-- groupBy and display the group title -->
                            <h4 class="light-margin-top" ng-show="x.group_by_key">{{x.type}}</h4>


                            <div class="overview-content-container">
                                <span class="table-header-wide">{{x.name}}</span>
                                <span class="table-header-wide">{{x.gamesPlayed}}</span>
                                <span class="table-header-wide">{{x.wins}}</span>
    
                                <img class="icon" src="../../img/baseline-delete-24px.svg" ng-click="toggleShowContentDeleteMap($index)">
                            </div>
    
                            <!-- delete dialogue -->
                            <div class="overview-delete-container" ng-show="showContentDeleteMap[$index]">
                                <div class="float-right">
                                    Delete this map?
                                </div>
                                <br>
                                <div class="float-right">
                                    <button class="red-button float-right margin-left" ng-click="removeMap($index, x)">
                                        Yes
                                    </button>
                                    <button class="blue-button float-right margin-left" ng-click="toggleShowContentDeleteMap($index)">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- ng repeat end -->
                </div>


        </div>

        <!-- content seasons -->
        <div    id="container-season"     ng-show="showSeason" ng-controller="SeasonController">
            <div class="body-element">
                <h3>Seasons</h3>
                In this section you can manage the seasons of Overwatch. <br>
                By adding a season, the current season high, current season low and current SR will be archived and the history of
                the ongoing season will be deleted. You can give the season a name and it will then be displayed down below.
                <br>
                <br>

                <!-- add a season -->
                Give the current season a name: <br>
                <input type="text" ng-model="seasonName" placeholder="Name your Season">
                <br>
                <button class="blue-button light-margin-top" ng-click="addSeason()">Add Season</button>
                <br>
                <br>
                <h3>Seasons overview</h3>
                <!-- header of the table -->
                <div class="light-padding-top">
                    <span class="table-index">ID</span>
                    <span class="table-header">Name</span>
                    <span class="table-header">Season High</span>
                    <span class="table-header">Season Low</span>
                    <span class="table-header-wide">Season Finished</span>
                </div>

                <div ng-repeat="x in seasonArray">
                        <div class="overview-container">
                            <div class="overview-content-container">
                                <span class="table-index">{{x._id-100}}</span>
                                <span class="table-header">{{x.name}}</span>
                                <span class="table-header">{{x.seasonHigh}}</span>
                                <span class="table-header">{{x.seasonLow}}</span>
                                <span class="table-header">{{x.seasonEnd}}</span>
    
                                <img class="icon" src="../../img/baseline-delete-24px.svg" ng-click="toggleShowContentDelete($index)">
                            </div>
    
                            <div class="overview-delete-container" ng-show="showContentDelete[$index]">
                                <div class="float-right">
                                    Delete this entry?
                                </div>
                                <br>
                                <div class="float-right">
                                    <button class="red-button float-right margin-left" ng-click="removeItem($index)">
                                        Yes
                                    </button>
                                    <button class="blue-button float-right margin-left" ng-click="toggleShowContentDelete($index)">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
    
                        
                    </div>



            </div>

        </div>

        <!-- Content form -->
        <div    id="container-form"     ng-show="showForm" ng-controller="FormController">
                <div class="body-element">
                        <h3>General Match Statistics</h3>
                    
                        <form novalidate method="post">
            
                            <!-- this div is floating on the left side -->
                            <div class="content-generall-match-stats-left-float">
                                <!--Input for SR-->
                                <div class="form-element">
                                    New SR-Rating <br>
                                    <input type="number" name="sr-rating" ng-model="newsr">
                                </div>           
            
                                <!--Input for Win/Loss-->
                                <div class="form-element">
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="1"> Victory    &ensp;
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="-1"> Defeat     &ensp;
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="0"> Draw   
                                </div>

                                <div class="form-element">
                                    Map: 
                                    <select ng-model="map" ng-options="x.name for x in maps | orderBy: 'name'"></select>
                                </div>

                                <!-- input for groupsize -->
                                <div class="form-element">
                                    <h3>Groupsize:</h3>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="1"> Single Queue - 1<br>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="2"> Dual Queue - 2<br>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="3"> Tripple Queue - 3<br>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="4"> Quad Queue - 4<br>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="5"> Quintuple Queue - 5<br>
                                    <input type="radio" name="groupsize" ng-model="groupsize" value="6"> Hexa Queue - 6<br>

                                </div>


                                <br>
                            </div>
                        
            
                            <!-- left floating div end-->

                            <!-- Heroes-->
                            <div>
                                <h3>Heroes</h3>
                                
                                <div class="form-element">
                                    Hero 1: 
                                    <select ng-model="selectedHero1" ng-options="x.name for x in heroes | orderBy: 'name'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 2:
                                    <select ng-model="selectedHero2" ng-options="x.name for x in heroes | orderBy: 'name'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 3:
                                    <select ng-model="selectedHero3" ng-options="x.name for x in heroes | orderBy: 'name'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 4:
                                    <select ng-model="selectedHero4" ng-options="x.name for x in heroes | orderBy: 'name'"></select>
                                </div>
                            </div>
  
            
                            <!-- General statistics end -->

                            

                            <div class="clear"></div>
                            <br>

                            <!-- Submit button -->
                            <input class="blue-button submit" ng-click="addMatch()" type="submit" value="Save">
            
                        </form>  
                </div>


        </div>


        <div id="about" ng-show="showAbout">

            <div class="body-element">
                <h3>Donation</h3>
                You like my program? I really appreciate if you consider a donation.
                <div class="spacer">

                </div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="83U9B6EBPWS72">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>             
            </div>

            <div class="body-element">
                <h3>About</h3>
                This program was built using the following:
                <ul class="about-ul">
                    <li class="about-li"><a class="text-color link-about" target="_blank" href="https://electronjs.org/">Electron</a></li>
                    <li class="about-li"><a class="text-color link-about" target="_blank" href="https://angularjs.org/">AngularJS</a></li>
                    <li class="about-li"><a class="text-color link-about" target="_blank" href="https://material.io/">Material.io</a></li>

                </ul>
            </div>

        </div>


    </div>

    

</body>

</html>
