<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Overwatch Statistics</title>

    <!-- Include the main.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    <!-- Include the input-element.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/input-element.css" />
    <!-- Include the button.css file -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/button.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!-- Import Angular JS -->
    <script src="../javascript/angularjsmin.js"></script>

    <!-- include script for showing different tabs -->
    <script src="../javascript/overview.js"></script>

    
</head>

<body ng-app="overwatch-stats-app" ng-controller="TabController">

    <div class="spacer"></div>

    <header>
        <div class="content-container navbar-container">
            <ul>
                <li> <a class="active"  ng-click="showOverviewContainer()"  href="#" id="overview"  >Overview   </a>    </li>
                <li> <a class=""        ng-click="showSettingsContainer()"  href="#" id="settings"  >Settings   </a>    </li>
                <li> <a class=""        ng-click="showAddSeason()"          href="#" id="season"    >+ Season   </a>    </li>
                <li> <a class=""        ng-click="showAddMatch()"           href="#" id="match"     >+ Match    </a>    </li>
            </ul>
        </div>
    </header>

    <!-- Content -->
    <div class="content-container" ng-controller="ContentController">

        <!-- Content Overview -->
        <div id="container-overview" ng-show="showOverview">
            <div class="body-element" id="sr-rating">
                <h3>SR-Rating</h3>


            </div>

            <div class ="body-element">
                <h3>24-Hour Record</h3>
            </div>

            <div class ="body-element">
                <h3>Best Heroes</h3>
            </div>

            <!-- Season overview -->
            <div class ="body-element">
                <h3>Season Overview</h3>
                <!-- header of the table -->
                <div class="light-padding-top">
                    <span class="table-index">ID</span>
                    <span class="table-header">Skill Rating</span>
                    <span class="table-header">Delta</span>
                    <span class="table-header">Match End</span>
                </div>

                <!-- start the ng-repeat -->
                <div ng-repeat="x in dbArray">
                    <div class="overview-container">
                        <div class="overview-content-container">
                            <span class="table-index">{{$index+1}}</span>
                            <span class="table-header">{{x.sr}}</span>
                            <span class="table-header">{{x.delta}}</span>
                            <span class="table-header">{{x.matchEnd}}</span>

                            <img class="icon" src="../../img/baseline-delete-24px.svg" ng-click="toggleShowContentDelete($index)">
                            <img class="icon" src="../../img/baseline-edit-24px.svg">
                        </div>

                        <div class="overview-delete-container" ng-show="showContentDelete[$index]">
                            <div class="float-right">
                                Delete this entry?
                            </div>
                            <br>
                            <div class="float-right">
                                <button class="red-button float-right margin-left" ng-click="removeItem($index)">
                                    Yes
                                </button>
                                <button class="blue-button float-right margin-left" ng-click="toggleShowContentDelete($index)">
                                    No
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ng repeat end -->
            </div>
            <!-- ~ Season overview end -->
        </div>



        <!-- Content Settings -->
        <div    id="container-settings" ng-show="showSettings" ng-controller="SettingsController">

                <div class="body-element">

                    <!-- Custom checkbox / checkbox for maximize on start up-->
                    <label class="checkbox-container">
                        Maximize on Start-Up
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    
                    <div class="separator"></div>
                    
                    <!-- Custom checkbox / checkbox for maximize on start up-->
                    <label class="checkbox-container">
                        Nightmode
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    
                </div>  

        </div>


        <!-- Content form -->
        <div    id="container-form"     ng-show="showForm" ng-controller="FormController">
                <div class="body-element">
                        <h3>General Match Statistics</h3>
                    
                        <form novalidate method="post">
            
                            <!-- this div is floating on the left side -->
                            <div class="content-generall-match-stats-left-float">
                                <!--Input for SR-->
                                <div class="form-element">
                                    New SR-Rating <br>
                                    <input type="number" name="sr-rating" ng-model="newsr">
                                </div>           
            
                                <!--Input for Win/Loss-->
                                <div class="form-element">
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="1"> Victory    &ensp;
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="-1"> Defeat     &ensp;
                                    <input type="radio" name="win_loss" ng-model="winLoss"  value="0"> Draw   
                                </div>


                                <!--Input for Matchtime-->
                                <div class="form-element">
                                    Match Duration <br>
                                    <input type="time" name="match-duration" ng-model="matchDuration"> 
                                </div>

            
                                <!--Input for the score of team blue and team red-->
                                <div class="form-element">
                                    Score of Team Blue
                                    <br>
                                    <input type="number" name="score-blue" ng-model="scoreBlue"> 
                                    <br>
                                    Score of Team Red
                                    <br>
                                    <input type="number" name="score-red" ng-model="scoreRed">
                                </div>


                                <div class="form-element">
                                    Map: 
                                    <select ng-model="map" ng-options="x.id for x in maps | orderBy: 'id'"></select>
                                </div>

                                <div class="form-element">
                                    Starting Side: <br>
                                    <input type="radio" name="startingside" ng-model="startingside"  value="1"> Attack    &ensp;
                                    <input type="radio" name="startingside" ng-model="startingside"  value="-1"> Defend     &ensp;
                                    <input type="radio" name="startingside" ng-model="startingside"  value="0"> Control 
                                </div>

                                <br>
                            </div>
                        
            
                            <!-- left floating div end-->
            
                            <!-- right floating div -->
                            <div>
                                <div class="form-element">
                                    Eliminations <br>
                                    <input type="number" ng-model="eliminations"> 
                                </div>
            
                                <div class="form-element">
                                    Objective Kills <br>
                                    <input type="number" ng-model="objectiveKills">
                                </div>
            
                                <div class="form-element">
                                    Objective Time <br>
                                    <input type="time" ng-model="objectiveTime">
                                </div>
            
                                <div class="form-element">
                                    Hero Damage Done <br>
                                    <input type="number" ng-model="heroDamageDone">
                                </div>
            
                                <div class="form-element">
                                    Healing Done <br>
                                    <input type="number" ng-model="healingDone">
                                </div>
            
                                <div class="form-element">
                                    Deaths <br>
                                    <input type="number" ng-model="deaths">
                                </div>
                            </div>
                            <!-- right floating div end -->
            
                            <!-- General statistics end -->

                            <br>
            
            
                            <!-- Separate the general statistics from the hero specific ones-->
                            <div class="separator"></div>
            

                            <!-- Friends -->
                            <div class="content-generall-match-stats-left-float">
                                <h3>Friends</h3>
                                <div class="form-element">
                                    Friend 1: <br>
                                    <input type="text" ng-model="friend1">
                                </div>  

                                <div class="form-element">
                                    Friend 2: <br>
                                    <input type="text" ng-model="friend2">
                                </div>
                                <div class="form-element">
                                    Friend 3: <br>
                                    <input type="text" ng-model="friend3">
                                </div>  

                                <div class="form-element">
                                    Friend 4: <br>
                                    <input type="text" ng-model="friend4">
                                </div>  

                                <div class="form-element">
                                    Friend 5: <br>
                                    <input type="text" ng-model="friend5">
                                </div>
                            </div>

                            <!-- Heroes-->
                            <div>
                                <h3>Heroes</h3>
                                
                                <div class="form-element">
                                    Hero 1: 
                                    <select ng-model="selectedHero1" ng-options="x.id for x in heroes | orderBy: 'id'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 2:
                                    <select ng-model="selectedHero2" ng-options="x.id for x in heroes | orderBy: 'id'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 3:
                                    <select ng-model="selectedHero3" ng-options="x.id for x in heroes | orderBy: 'id'"></select>
                                </div>
                                <div class="form-element">
                                    Hero 4:
                                    <select ng-model="selectedHero4" ng-options="x.id for x in heroes | orderBy: 'id'"></select>
                                </div>
                            </div>

                            <div class="clear"></div>
                            <br>

                            <!-- Submit button -->
                            <input class="blue-button submit" ng-click="addMatch()" type="submit" value="Save">
            
                        </form>  
                </div>


        </div>


    </div>

    

</body>

</html>
