/*
Style sheet for styling buttons
*/

/* Default styling for buttons*/
button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.15cm;
    padding-bottom: 0.15cm;
    border-radius: 5px;
    font-weight: bolder;
}

.submit{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-top: 0.15cm;
    padding-bottom: 0.15cm;
    border-radius: 5px;
    font-weight: bolder;
}


/* Display buttons as block elements */
.button-wrapper{
    display: block;
}

/* Wrapper for the action buttons*/
.action-button-wrapper{
    display: block;
    padding-top: 0.78cm;
}


/* Style the button blue */
.blue-button{
    background-color: rgb(33,143,254);
    color: rgb(235,235,235);
}
/* Corresponding hover color */
.blue-button:hover{
    background-color: rgb(64,82,117);
}

/* Style the button red*/
.red-button{
    background-color: rgb(236, 0, 0);
    color: rgb(235,235,235);
}
/* Corresponding hover color */
.red-button:hover{
    background-color: rgb(161, 0, 0);
}

.green-button{
    background-color: rgb(0, 184, 0);
    color: rgb(235,235,235);
}

.green-button:hover{
    background-color: rgb(0, 129, 0);
}

.icon{
    float: right;
}

.icon:hover{
    background-color: rgb(150, 149, 149);
    border-radius: 1px;
}

