

/* ----------------- Styling checkboxes -------------------- */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 0.926cm;
    margin-bottom: 0.317cm;
    cursor: pointer;
    font-size: 0.582cm;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.661cm;
    width: 0.661cm;
    background-color: rgb(211, 211, 211);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: rgb(33,143,254);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 0.238cm;
    top: 0.132cm;
    width: 0.132cm;
    height: 0.264cm;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style checkboxes ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style radio buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Customize the label (the container) */
.radiobutton-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radiobutton-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .radiobutton-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radiobutton-container:hover input ~ .radiobutton-checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radiobutton-container input:checked ~ .radiobutton-checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiobutton-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radiobutton-container input:checked ~ .radiobutton-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radiobutton-container .radiobutton-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style radio buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style select box ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

select {
    width: 200px;
    font-size: 16px;
    border: none;
    height: 34px;
    background-color: rgb(124, 124, 124);
    color: rgb(218, 218, 218);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  

  
  
  select::-ms-expand { 
      display: none; /* remove default arrow in IE 10 and 11 */
  }
  
  /* target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      select {
          background:none\9;
          padding: 5px\9;
      }
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style select box ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~ Style text box ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
input[type=text]{
    border: none;
    font-size: 16px;
    padding: 5px;
    margin: 2px;
}

input[type=number]{
    border: none;
    font-size: 16px;
    padding: 5px;
    margin: 2px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~ Style text box ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */