.body-element{
    background-color: rgb(247, 247, 247);
    color: rgb(34, 34, 34);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.text-color{
    color: rgb(34, 34, 34);
}

.table-header-style-active{
    border-bottom: 1px solid rgb(34, 34, 34);
}

.table-header-style:hover{
    border-bottom: 1px solid rgb(34, 34, 34);
}