/*
remove default styling
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    background: url(../../img/eichenwalde_1_blur_1080p.png) no-repeat center fixed;
    background-size: cover;
}

.spacer{
    height: 0.75cm;
}

/* Specify the width and the centered orientation of the content*/
.content-container{
    max-width: 70%;
    margin: 0 auto;
    font-size: 0.5cm;
}

.navbar-container{
    border-bottom: 2px solid white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgba(225,225,225, 0.3);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.active{
    background-color: rgba(225,225,225, 0.3);
}

/* Specify the styling for a body element *//*
.body-element{
    background-color: rgb(247, 247, 247);
    color: rgb(34, 34, 34);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}*/


/* Style a separator */
.separator{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    clear: both;
}

.content-generall-match-stats-left-float{
    float:left;
    overflow: auto;
    width: 50%;
}

.float-left{
    float: left;
}


.float-right{
    float: right;
}

.border-right{
    border-right: 1px solid grey;
}

.margin-left{
    margin-left: 10px;
}


.overview-delete-container{
    height: 2cm;
}

.overview-content-container{
    min-height: 1cm;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-element{
    margin-bottom: 5px;
    margin-top: 5px;
}

.clear{
    clear: both;
}

.bottom-border{
    border-bottom: 1px solid grey;
}


/* season overview styling */
.table-index{
    width: 5%;
    display: inline-block;
}
.table-header{
    width: 15%;
    border-left: 1px solid grey;
    padding-left: 5px;
    display: inline-block;
}

.light-padding-top{
    padding-top: 5px;
}

.light-padding-right{
    padding-right: 5px;
}

.light-margin-top{
    margin-top: 5px;
}

.table-header-wide{
    width: 30%;

    padding-left: 5px;
    display: inline-block;
}

.content-float-left{
    float:left;
    overflow: auto;
    width: 50%;
}

.content-float-right{
    float:right;
    overflow: auto;
    width: 2cm;
}

.inline-block{
    display: inline-block;
}