/*
remove default styling
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    background: url(../../../img/eichenwalde_1_blur_1080p.png) no-repeat center fixed;
    background-size: cover;
}

.spacer{
    height: 0.75cm;
}

/* Specify the width and the centered orientation of the content*/
.content-container{
    max-width: 70%;
    margin: 0 auto;
    font-size: 0.5cm;
}

.navbar-container{
    border-bottom: 2px solid white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgba(225,225,225, 0.3);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.active{
    background-color: rgba(225,225,225, 0.3);
}

/* Specify the styling for a body element */
.body-element{
    background-color: rgb(247, 247, 247);
    color: rgb(34, 34, 34);
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}


/* Style a separator */
.separator{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    clear: both;
}

.content-generall-match-stats-left-float{
    float:left;
    overflow: auto;
    width: 45%;
}

.float-left{
    float: left;
}

.border-right{
    border-right: 1px solid grey;
}
