/*
remove default styling
*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* set the background color for the body*/
body{
    background-color: rgb(211, 211, 211);
}

/* Specify the width and the centered orientation of the content*/
.content-container{
    max-width: 70%;
    margin: 0 auto;
}


/* ------- Style the header ------- */
/* Specify the color and the height of the header*/
.tm-header{
    background-color: rgb(46, 46, 46);
    height: 3cm;
    border-bottom: 3px solid rgb(249,158,26);
}

.tm-logo{
    padding-top: 0.16cm;
    display: inline-block;
}

.tm-header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}


/* ------- Style the header ------- */


/* Define classes to float an object left or right */
.float-right{
    float: right;
}
.float-left{
    float: left;
}


/* Define styling for an settings element */
.setting-element{
    margin-top:0.396cm;
    margin-bottom: 0.396cm;
    font-size: 0.582cm;
}

/* Style a separator */
.separator{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    clear: both;
}


/* Specify the styling for a body element */
.tm-body-element{
    background-color: rgb(235, 235, 235);
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tm-body-element::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}


/* Style the footer */
.tm-footer{
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 20px;
}


.clearfix::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}



/*
    Styling the divs for input of team score
*/

.tm-content-generall-match-stats{
    float:left;
    overflow: auto;
    width: 45%;
}

.tm-content-generall-match-stats::after{
    clear: both;
    content: " ";
    display:table;
    visibility: none;
}

.form-element{
    margin-bottom: 15px;
    font-weight: 1000;
    font-size: 20px;
}
